
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', monospace;
    margin: 0;
    padding: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
}



.title {
    margin: 25px 0px 0px 0px;
    line-height: 1.5;
    text-align: center;
    opacity: 0;
    animation: fadein 0.7s ease-in-out 0.5s forwards;
}

/* Skip to content */

a.skip-to-content{
    background: white;
    left: 0;
    padding: 6px;
    color:black;
    position: absolute;
    top: -40px;
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
    z-index: 1;
}

a.skip-to-content:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
*:focus{
    border: 2px solid black;
}
/*about me*/
#about .section-title {
    padding-bottom: 16px;
  }
  
  #about .col-md-4 a {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 6px 6px 0px 0;
    font-size: 13px;
    font-family:#3f3f3f;
  }
  
  #about .about-thumb {
    margin-top: 22px;
  }
  
  #about .about-thumb strong {
    font-weight: normal;
    display: block;
    padding-top: 4px;
  }
  

/*Resume CSS*/
.doc {
    padding-top: 20px;
    width: 75%;
    height: 700px;
}

/*Portfolio CSS*/
.portfolio {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
    grid-gap: 10px;
    opacity: 0;
    animation: fadein 0.7s ease-in-out 0.5s forwards;
}

.portfolio_item{
    background-color: black;
}

.portfolio_title {
    text-align: center;
    background-color: white;
}

.portfolio_image{
    object-fit: cover;
    width: 720px;
    height: 300px;
    transition: 
        transform 750ms cubic-bezier(0, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio_image:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.7;
}

.spill {
    overflow: hidden;
}

.spill img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
/*Contact*/
.contact-info {
    margin-bottom: 4em;
    padding: 0;
  }
  .contact-info li {
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 40px;
    color: #000;
  }
  .contact-info li i {
    position: absolute;
    top: .3em;
    left: 0;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.3);
  }
  .contact-info li a {
    color: #000;
  }
  
  .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
  .form-control:focus, .form-control:active {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.8);
  }
  
  input[type="text"] {
    height: 50px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  #map {
    width: 100%;
    height: 500px;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px;
    }
  }
  
  .gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .gototop.active {
    opacity: 1;
    visibility: visible;
  }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
  }
  .gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Space Mono", Arial, serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
  }
  .btn.btn-md {
    padding: 8px 20px !important;
  }
  .btn.btn-lg {
    padding: 18px 36px !important;
  }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  .btn-primary {
    background: #556892;
    color: #fff;
    border: 2px solid #FF9000;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #556892 !important;
    border-color: #556892 !important;
  }
  .btn-primary.btn-outline {
    background: transparent;
    color: #FF9000;
    border: 2px solid #FF9000;
  }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #FF9000;
    color: #fff;
  }
  
  .btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
  }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
  }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
  }
  .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
  }
  
  .btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
  }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
  }
  .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
  }
  
  
  .btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
  }
  
  .btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .btn.with-arrow:hover {
    padding-right: 50px;
  }
  .btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1;
  }
  
  .form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
  }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #556892;
  }
/*Landing Page CSS*/
index {
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 50%;
    margin-left: 50%;
    opacity: 0;
    animation: fadein 0.7s ease-in-out 0.5s forwards;
}

index p{
    margin: 50px 0px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

index h1{
    font-size: 64px;
}

index img{
    position: absolute;
    height: 600px;
    top: 25%;
    right: 55%;
}

.button_align{
    position: absolute;
    right: 55%;
    top: 25%;
    padding-top: 200px;
    padding-right: 80px;
    z-index: 1;
}

.button_align a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    margin-bottom: 30px;
    background: linear-gradient(to left, #53628D, #6fbbd3);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: transform .5s; /* Animation */
}

.button_align a:hover{
    transform: scale(1.2);
}

.row-pb-md {
    padding-bottom: 4em !important;
  }
  
  .row-pb-sm {
    padding-bottom: 2em !important;
  }
  
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .col-padding {
    padding: 6px !important;
    margin: 0px !important;
  }
  
  .fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  .js .animate-box {
    opacity: 0;
  }

.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 1s step-end infinite;
    animation-delay: 0.5s;
  }

@keyframes fadein {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

/*Naviagation Bar CSS*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: #444750;
    font-family: 'Roboto', monospace;
}

.logo a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 25px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.click {
    display: none;
}

.click div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    /*Naviagation Bar CSS*/
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    /*Resume CSS*/
    .doc {
        height: 500px;
    }
    /*Naviagation Bar CSS*/
    .logo a {
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 20px;
    }
    .test {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 30vh;
        top: 9vh;
        background-color: #53628D;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links a {
        font-size: 20px;
    }
    .click {
        display: block;
        cursor: pointer;
    }

    /*Landing Page CSS*/
    header {
        height: auto;
        align-items: center;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    header img{
        right: auto;
        height: 400px;
        top: 200px;
        margin-left: auto;
    }
    
    .button_align{
        right: auto;
        padding-left: 80px;
        top: 100px;
        margin-left: auto;
    }

    .button_align a{
        font-size: 15px;
        padding: 10px 15px;
    }

    header p{
        margin: 10px 0px;
        font-size: 18px;
        padding-bottom: 210px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .typewriter{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: block;
    }

    .typewriter p {
        text-align: center;
        overflow: auto;
        border-right: none; 
        white-space: normal; 
        animation: none;
    }
    
    header h1{
        font-size: 30px;
    }


}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer{
    position:relative;
    width:100%;
    background-color: #333;
    color:#eee;
    text-align: center;
    font-size: 16px;
    height: 50px; 
}

.footer span{
    line-height: 50px;
    }

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}








